.nav-container {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-content {
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, 120px));
    /* grid-auto-columns: repeat(7, minmax(40px, 120px)); */
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

.nav-content a:hover {
    color: #EE9972;
}


.footer-container {
    display: grid;
    grid-template: "footer-logo footer-content1 footer-content2 footer-content3"
                   "copyright copyright copyright copyright";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    justify-content: center;
    a {
        font-size: 18px;
        padding-top: 3%;
        padding-bottom: 4%;
    }

    a:hover {
        color: #EE9972;
    }
}

.footer-container ul {
    text-align: start;
}

.footer-content1 {
    display: grid;
    grid-area: footer-content1;
}

.footer-content2 {
    display: grid;
    grid-area: footer-content2;
}

.footer-content1 li:nth-child(1), .footer-content2 li:nth-child(1), .footer-content3 li:nth-child(1) {
    color: #333333;
    font-style: italic;
    margin-bottom: 2%;
}

.footer-content3 {
    display: grid;
    grid-area: footer-content3;
    justify-content: center;
    /* background-color: #dc3545; */
}

.menu-pdf {
    width: 200px;
    height: 60px;
    border-radius: 16px;
    background-color: var(--primary-color2);
    border: none;
    font-size: 18px;
    /* font-family: 'Roboto', serif; */
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}


.copyright {
    display: grid;
    grid-area: copyright;
    justify-content: center;
    /* background-color: #EE9972; */
    /* border-top: gray 2px solid; */
}

.cardTestimonials-container {
    height: 310px;
    width: 245px;
    border: none;
    border-radius: 16px;
    /* background-color: #EDEFEE; */
    background-color: whitesmoke;
    text-align: center;
    padding: 1% 1%;
    margin: 1%;

    h5 {
        text-align: justify;
    }

    img {
        border-radius: 50%;
    }
}

.rating-customer-area {
    position: relative;
    text-align: center;
    h4 {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 10px;
        margin: 0;
        color: #EE9972;
    }

    img {

    }
}

.customerSay-container {
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.sepcials-container {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.component-container {
    padding-left: 291px;
    padding-right: 291px;
}

.callToAction-container {
    max-width: 100vw;
    padding: 2%;
    min-height: 40vh;
    background-color: #495E57;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    overflow-y: visible;
}

.callToAction-text {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: center;
    text-wrap: wrap;

    h2 {
        color: var(--secondary-color1);
        font-size: 56px;
        /* font-family: 'Roboto', serif; */
        font-weight: 500;
    }

    h3 {
        color: var(--secondary-color3);
        font-size: 32px;
        font-family: 'Markazi Text', serif;
        margin: 0;
        margin-top: -2%;
    }

    h4 {
        color: var(--secondary-color3);
        font-size: 20px;
        max-width: 422px;
        font-family: 'Roboto', serif;
        font-weight: regular;
    }

    button {
        width: 200px;
        height: 60px;
        border-radius: 16px;
        background-color: var(--primary-color2);
        border: none;
        margin-bottom: 2%;
        font-size: 18px;
        /* font-family: 'Roboto'; */
        font-weight: 300;
    }

    button:hover {
        background-color: var(--secondary-color2);
    }
}

.confirm-button {
    width: 200px;
    height: 60px;
    border-radius: 16px;
    background-color: var(--primary-color2);
    border: none;
    margin-bottom: 2%;
    font-size: 18px;
    /* font-family: 'Roboto'; */
    font-weight: 300;
}


.callToAction-img {
    text-align: end;
    button {
        display: none;
    }

    img {
        margin-bottom: -4.5%;
    }

}

.special-title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 200px;
        height: 60px;
        border-radius: 16px;
        background-color: var(--primary-color2);
        border: none;
        font-size: 18px;
        /* font-family: 'Roboto', serif; */
        font-weight: 300;
    }

    button:hover {
        background-color: var(--secondary-color2);
    }

    h2 {
        font-size: 40px;
        font-family: 'Karla', serif;
    }
}

.card-container {
    width: 265px;
    height: 439px;
    border: none;
    border-radius: 16px;
    margin: 1%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 60%;

    img {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}

.card-container > img {
    width: 265px;
    height:185px
}

.card-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    background-color: var(--secondary-color3);
    padding: 0% 2% 2% 2%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    h5 {
        font-family: 'Karla', serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--primary-color1);
    }

    button {
        font-size: 16px;
        font-family: 'karla', serif;
        font-weight: bold;
        background-color: transparent;
        border: none;
    }

    button:hover {
        cursor: pointer;
    }
}

.card-name-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-family: 'Markazi Text', serif;
        font-weight: 500;
        font-size: 24px;
        margin: 0;
    }

    h4 {
        font-family:'Karla', serif;
        font-weight: bold;
        font-size: 16px;
        color: var(--secondary-color1);
    }
}

.special-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/* .special-cards > :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
} */

.card-description-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h5 {
        margin: 0;
    }

    button {
        padding-bottom: 10%;
    }
}

.customerSay-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chicago-container {
    max-width: 100vw;
    max-height: 100vh;
    min-height: 70vh;
    padding: 2%;
    /* background-color: #495E57; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
}

.chicago-text {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: center;
    text-wrap: wrap;

    h2 {
        color: var(--secondary-color1);
        font-size: 64px;
        /* font-family: 'Markazi', serif; */
        font-weight: 500;
        margin: 0;
    }

    h3 {
        color: var(--secondary-color3);
        font-size: 40px;
        font-family: 'Markazi Text', serif;
        font-weight: normal;
        margin-top: 1%;
    }

    h4 {
        color: var(--secondary-color3);
        font-size: 20px;
        max-width: 422px;
        font-family: 'Roboto', serif;
        font-weight: regular;
    }
}

.chicago-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.chicago-img img {
    position: absolute;
    max-width: 350px;
    max-height: 100%;
}

.chicagoImage1 {
    z-index: 1;
    top: 40%;
    right: 200px;
}

.chicagoImage2 {
    z-index: 2;
    top: 20%;
    right: 0;
}

.booking-form {
    display: block;
    min-width: 50%;
    min-height: 70vh;
    margin: 20px auto;
    padding: 20px;
    background-color: #DDEAE6;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px #DDEAE6;
}

.booking-form label {
    /* color: #ffffff; */
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.confirm-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.booking-form input[type="date"],
.booking-form input[type="number"],
.booking-form input[type="text"],
.booking-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  background-color: transparent;
}

.timeslots-button {
    border: gray solid 1px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    color: gray;
}

.timeslots-button.active {
    border: #EE9972 solid 1px;
    background-color: #EE9972;
    color: #333333;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
}

/* Button styling */
.submit-button {
    width: 100%;
    height: 50px;
    border-radius: 16px;
    background-color: var(--secondary-color1);
    color: #ffffff;
    border: none;
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--secondary-color2);
    color: #333333;
}

/* Timeslot list styling */
.bookingform-timeslots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 0;
}

/* Error message styling */
.error {
    color: #dc3545;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.menu-container {
    max-width: 100%;
    /* overflow:hidden; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.menu-image-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.menu-image-area-left, .menu-image-area-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 49.5%;
    height: auto;
    overflow: hidden;

    img {
        border-radius: 16px;
    }
}

.menuImg {
    width: 99%;
    height: auto;
    margin: 1%;
    border-radius: 10px;
    animation: scaleExitAnimation 0.2s ease-in-out;
}

.menuImg:hover {
    animation: scaleAnimation 0.2s ease-in-out ;
    transform: scale(1.03);
}

@keyframes scaleAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.03);
    }
  }

@keyframes scaleExitAnimation {
from {
    transform: scale(1.03);
}
to {
    transform: scale(1);
}
}

@media screen and (max-width: 1600px) {
    .component-container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1300px) {
    .chicagoImage1, .chicagoImage2 {
        width: 250px;
    }
}

@media screen and (max-width: 1150px) and (min-width: 701px) {
    .chicago-img {
        position: initial;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        /* background-color: #5e5749; */
        justify-content: center;
    }

    .chicago-img img {
       position: initial;
       width: 100%;
       height: auto;
       display: block;
    }

    .chicagoImage1 {
        position: initial;
        display: block;
        width: 100%;
        /* height: auto; */
    }

    .chicagoImage2 {
        position: initial;
        width: 100%;
        /* height: auto; */
    }
}

@media screen and (max-width: 700px) {
    .nav-container {
        grid-template: "logo toggle"
                       "navContent navContent";
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }

    .logo {
        grid-area: logo;
        justify-content: start;
    }

    .nav-toggle {
        display: grid;
        grid-area: toggle;
        justify-content: center;
    }

    .nav-content {
        display: none;
    }

    .nav-content.active {
        display: grid;
        grid-area: navContent;
        grid-template-rows: repeat(6, 35px);
        grid-template-columns: 100%;
        text-align: start;
        padding-left: 3%;
    }

    .footer-container {
        min-width: 100vw;
        display: grid;
        grid-template: "footer-content1 footer-content2 footer-content3"
                       "footer-logo footer-logo footer-logo"
                       "copyright copyright copyright";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
    }

    .footer-content1 {
        display: grid;
        grid-area: footer-content1;
    }

    .footer-content2 {
        display: grid;
        grid-area: footer-content2;
    }

    .footer-content3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        grid-area: footer-content3;
    }

    .footer-content1 li a, .footer-content2 li a, .footer-content3 li a {
        font-size: 15px;
    }

    .footer-logo {
        display: grid;
        grid-area: footer-logo;
        justify-content: end;
        padding-right: 3%;
    }

    .component-container {
        padding:0;
    }

    .card-container {
        width: 100%;
        height: 439px;
    }

    .card-container > img {
        width: 100%;
        height: auto;
    }

    .special-cards > :nth-child(2) {
        margin: 0;
    }

    .special-title-area {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 140px;
            height: 40px;
            border-radius: 16px;
            background-color: var(--primary-color2);
            border: none;
            font-size: 16px;
            /* font-family: 'Roboto', serif; */
            font-weight: 300;
        }

        h2 {
            font-size: 25px;
            font-family: 'Karla', serif;
        }
    }

    .cardTestimonials-container {
        width: 100%;
        height: auto;
    }

    .callToAction-container {
        min-height: 70vh;
        max-width: 100vw;
        grid-template-columns: 100%;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        grid-auto-rows: 50% 40%;
        background-image: url('../../public/restauranfood.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        img {
            display: none;
        }
    }

    .callToAction-text {
        h2 {
            font-size: 40px;
            font-family: 'Roboto', serif;
            font-weight: 500;
            margin: 0;
        }

        h3 {
            margin: 0;
            color: var(--secondary-color3);
            font-size: 25px;
            font-family: 'Markazi Text', serif;
        }

        h4 {
            color: var(--secondary-color3);
            font-size: 18px;
            max-width: 422px;
            font-family: 'Roboto', serif;
            font-weight: regular;
        }

        button {
            display: none;
        }
    }

    .callToAction-img {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* background-color: aquamarine; */

        button {
            display: block;
            width: 140px;
            height: 40px;
            border-radius: 16px;
            background-color: var(--primary-color2);
            border: none;
            margin-bottom: 2%;
            font-size: 16px;
            font-family: 'Roboto', serif;
            font-weight: 400;
        }
    }

    .chicago-text {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        justify-content: center;
        text-wrap: wrap;

        h2 {
            color: var(--secondary-color1);
            font-size: 40px;
            font-family: 'Markazi', serif;
            font-weight: 500;
            margin: 0;
        }

        h3 {
            color: var(--secondary-color3);
            font-size: 25px;
            font-family: 'Markazi Text', serif;
            font-weight: normal;
            margin-top: 1%;
        }

        h4 {
            color: var(--secondary-color3);
            font-size: 16px;
            max-width: 422px;
            font-family: 'Roboto', serif;
            font-weight: regular;
        }
    }

    .chicago-container {
        max-width: 100vw;
        min-height: 100vh;
        max-height: fit-content;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .chicago-img {
        position: initial;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        /* background-color: #5e5749; */
        justify-content: center;
    }

    .chicago-img img {
       position: initial;
       width: 100%;
       height: auto;
       display: block;
    }

    .chicagoImage1 {
        position: initial;
        display: block;
        width: 100%;
        /* height: auto; */
    }

    .chicagoImage2 {
        position: initial;
        width: 100%;
        /* height: auto; */
    }
}
